@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

:root{
    --overlay-color: #03a9f4;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
} 

header .logo{
    text-transform: uppercase;
    cursor: pointer;
}

.toggle{
    position: relative;
    width: 60px;
    height: 60px;
    background: url(images/menu.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
}

.toggle.active{
    background: url(images/close.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
}

.showcase{
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    color: #fff;
    z-index: 2;
    transition: 0.5s;
}

.showcase.active{
    right: 300px;
}
.showcase header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.showcase video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* opacity: 0.08; */
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--overlay-color);
    mix-blend-mode: overlay;
}

.text{
    position: relative;
    z-index: 10;
}
.text h2{
    font-size: 5em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
}

.text h3{
    font-size: 4em;
    font-weight: 600;
    line-height: 1em;
    text-transform: uppercase;
}

.text p{
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
}

.text a{
    display: inline-block;
    font-size: 1em;
    background: #fff;
    padding: 10px 30px;
    text-decoration: none;
    color: #111;
    margin-top: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.2s;
}

.text a:hover{
    letter-spacing: 6px;
}

.social li{
    list-style: none;
}
.social li a{
    list-style: none;
    display: inline-block;
    filter: invert(1);
    margin-right: 20px;
    transform: scale(0.5);
    transition: 0.5s;
}

.social{
    position: absolute;
    z-index: 10;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social li a:hover{
    transform: scale(0.5) translateY(-15px);
}

.menu{
position: absolute;
top: 0;
right: 0;
width: 300px;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
}

.menu ul{
    position: relative;
    list-style: none;
}
.menu ul li{
    list-style: none;
}
.menu ul li a{
    text-decoration: none;
    font-size: 25px;
    color: #111;
}

.meuu ul li a:hover{
    color: var(--overlay-color);
}