p{
    color: rgb(43, 255, 0);
    font-size: 20px;
    text-decoration: underline;

}
.logo{
    color: yellow;
}

.img{
    height: 60px;
    width: 150px;
}
.form{
    color: white;
}
/* .home{
    color: yellow;
} */

